.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(150, 150, 150);
}

.card {
    width: 300px;
    padding: 20px;
    border: 1px solid #f50000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-info h2 {
    margin-top: 0;
}

.card-info p {
    margin: 5px 0;
}

